!!!
%html
  %head
    %link(href="style.css", rel="stylesheet")
    %meta(charset="utf-8")
    %title Home template (Artem Radkevich)
  %body.u-body.col-grey
    %section.col-grey
      %h2.u-font-montserrat.u-text
        We design People Inspired Experiences that
        %br>/
        create positive change in people's lives.
      .contents
        .grid-container
          .grid-item.bgimg-1
          .grid-item.border-20
            %h2.u-text-2 Construction innovation
          .grid-item
            %p.u-text-3
              The result of our company branding process is a comprehensive brand guideline
              that can be used to design a marketing website and other design assets like brand illustrations
              that reflect the new brand.
          .grid-item.bgimg-2
          .grid-item
          .grid-item.bgimg-3
          .grid-item.border-20
            .subgrid-social
              %div
                %img.icon(alt="", src="images/facebook.png")/
              %div
                %img.icon(alt="", src="images/twitter.png")/
              %div
                %img.icon(alt="", src="images/instagram.png")/
          .grid-item